body {
	background-image: url('../img/img.png');
}

canvas {
	border: 2px solid black;
	background: #E6F0D0;
}

.title {
	background: #E6F0D0;
}

.p-billy {
	background: #2e2e2e;
	color: #fff;
}
 
 h1 {
 	color: #00c189;
 }

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: hotpink;
}

a:active {
  color: #E6F0D0;
}